html, body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar{
  display: none;
}

body{
  display: block;
  margin: 8px;
}

#gameScreen, #title, #rules, #end, #win{
  position: absolute;
  width: 1280px;
  height: 720px;
  border: 2px solid black;
  display: block;
}

div > img{
  width: 100%;
  height: 100%;
}
